.nav {
  background-color: rgba(245, 245, 245, 0.6) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
}

.buttonsBox {
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.buttons {
  background-color: #2ecdb0;
  color: white;
  display: block;
  margin-right: 20px;
}
