.wholeNav {
      background-color: rgba(245, 245, 245, 0.6) !important;
      backdrop-filter: blur(10px) !important;
      flex-direction: row !important; 
}

.buttonsBox {
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.buttons {
  background-color: #2ecdb0;
  color: white;
  display: block;
  margin-right: 20px;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    margin-left: -66px !important;
  }

@media screen and (max-width: 899px) {
    .headerBox {
        flex-direction: column !important;
        align-items: center !important;
    }

    .wholeNav { 
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .toolbar {
        justify-content: center !important;
    }
}