.theCard {
  background: rgba(255, 255, 255, 0.5) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(20px) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiPopover-paper {
  border-radius: 20px !important;
  background-color: rgba(23, 185, 255, .2) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
}

@media screen and (max-width: 1174px) {
    .nextButtonContainer {
        order: -1 !important;
    }
}

table > *:last-child > tr:last-of-type > td:last-of-type {
  border-bottom-right-radius: 20px;
}

table > *:last-child > tr:last-of-type > th,
td {
  font-size: 15px !important;
}

table > *:last-child > tr:last-of-type > td,
th {
  font-size: 15px !important;
}