.theCard {
  background: rgba(255, 255, 255, .5) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
}

.scored {
    margin-bottom: 20px !important;
    background-color: rgba(245, 245, 245, 0.6);
    width: 56%;
    border-radius: 20px;
}

.backCard {
    background-color: rgba(255, 255, 255, .0) !important;
	-webkit-backdrop-filter: blur(10px) !important;
	backdrop-filter: blur(10px) !important;
}

.inner {
    background: black;
    z-index: 2;
    padding: 20px;
  }

  .MuiPopover-paper {
    border-radius: 20px !important;
    background-color: rgba(23, 185, 255, .3) !important;
	-webkit-backdrop-filter: blur(10px) !important;
	backdrop-filter: blur(10px) !important;
  }

  .chart {
    border-radius: 20px;
    background: rgba(255, 255, 255, .65) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  }

  table > *:last-child > tr:last-of-type > td:last-of-type {
    border-bottom-right-radius: 20px;
  }

  .headers {
    background-color: rgba(23, 185, 255, 0.92) !important;
    font-size: 16px !important;
  }

  .headersText {
    background-color: rgba(245, 245, 245, 0.6);
    width: 56%;
    border-radius: 20px;
  }

  table > *:last-child > tr:last-of-type > th,td {
    font-size: 15px !important;
 }

 table > *:last-child > tr:last-of-type > td,th {
    font-size: 15px !important;
 }


